This workbook writes randomly played replay-buffers to a Teradata database, and then triggers a Teradata SQL Stored Procedure to assign discounted rewards and build a table with average rewards.

In [1]:
import random
import numpy as np
import pandas as pd
import time
import chess
from teradataml import *

The block below sets the database connection details and specifies the target tables.

In [2]:
# Connect with Teradata Database
eng = create_context("192.168.56.1", "val", "val")
conn = get_connection()
replay_buffer_table = "replay_buffer"
replay_buffer_staging_table = "replay_buffer_stage"

The block below sets the Pandas DataFrame and seeds the randomizer.

In [3]:
batch_df = pd.DataFrame({
    'game_id': [],
    'ply': [],
    'FEN': [],
    'move': [],
    'reward': [],
})

random.seed(time.time())

The block below creates some helper functions.

In [4]:
def play_game(in_board, game_id, training=None):
    
    # Initialize the starting variables.
    sequence_no = 0
    reward = 0
    
    game_df = pd.DataFrame({
        'game_id': [],
        'ply': [],
        'FEN': [],
        'move': [],
        'reward': [],
    })
    board = chess.Board()
    if in_board is not None:
        board = in_board

    # Launch into the key loop.
    while not board.is_checkmate() and not board.is_stalemate() and not board.is_insufficient_material() and not board.can_claim_draw() and not board.is_seventyfive_moves() and not board.is_fivefold_repetition():
        if training and sequence_no == 0:
            fen = board.fen()
            spaces_pos = [pos for pos, char in enumerate(fen) if char == ' ']
            opening_fen = fen[:spaces_pos[3]]
            
            ply_array = np.array([game_id, sequence_no, opening_fen, "", 0])
            new_row = pd.DataFrame([ply_array], columns=game_df.columns)
            game_df = pd.concat([game_df, new_row], ignore_index=True)

        sequence_no += 1
        all_moves = str(board.legal_moves)
        start_pos = [pos for pos, char in enumerate(all_moves) if char == '(']
        end_pos = [pos for pos, char in enumerate(all_moves) if char == ')']
        all_moves_string= all_moves[start_pos[0]+1:end_pos[0]]
        all_moves_string = all_moves_string.replace(" ", "")
        all_moves_array = all_moves_string.split(',')
        # random.seed(time.time())
        random_int = random.randint(0, len(all_moves_array)-1)
        next_move = all_moves_array[random_int]
        board.push_san(next_move)

        if training:
            fen = board.fen()
            spaces_pos = [pos for pos, char in enumerate(fen) if char == ' ']
            trimmed_fen = fen[:spaces_pos[3]]
            

            ply_array = np.array([game_id, sequence_no, trimmed_fen, next_move, 0])
            new_row = pd.DataFrame([ply_array], columns=game_df.columns)
            game_df = pd.concat([game_df, new_row], ignore_index=True)

    if board.is_checkmate():
        if board.outcome().winner:
            reward = 1
        else:
            reward = -1
    
    reward_array = np.full(sequence_no+1, reward)
    game_df['reward'] = reward_array

    return game_df, reward

The block below orchestrates the main logic flow.  It plays a batch of games specified by num_games, writing the replay-buffers (stored in the Pandas DataFrame) to Teradata in batches of batch_size.

In [5]:
num_games = 500    # DISTINCT FEN STATES BEFORE: 62 671 576

batch_size = 200
batch_counter = 0
out_reward = 0
start_time = time.time()

# Set the game_id by looking up the last used game_id.
game_id_cursor = execute_sql("SELECT MAX(game_id) FROM " + replay_buffer_table +";")
in_game_id = int(game_id_cursor.fetchall()[0][0]) + 1  # There has to be a better way to do this.

for counter in range(num_games):
    batch_counter += 1
    out_replay_buffer_df, out_reward = play_game(None, in_game_id, training=True)
    print("Reward for game " + str(in_game_id) + " was " + str(out_reward) + ".")
   
    # Increment the game_id
    in_game_id += 1

    # Append the game dataframe to the batch dataframe.
    batch_df = pd.concat([batch_df, out_replay_buffer_df], ignore_index=True)
    
    if batch_counter == batch_size or counter == num_games-1:
        
        # Load the batch to the database.
        fastload(df = batch_df, table_name = replay_buffer_staging_table, if_exists = 'append')
        
        # Empty the batch dataframe.
        batch_df = pd.DataFrame({
            'game_id': [],
            'ply': [],
            'FEN': [],
            'move': [],
            'reward': [],
        })
        
        # Reset the batch counter.
        batch_counter = 0
        end_time = time.time()
        batch_duration = end_time-start_time
        print(str(counter+1) + " of " + str(num_games) + " completed. Last batch duration was " + str(batch_duration) + " with average game duration of " + str(batch_duration/batch_size) + ".")
        start_time = time.time()

Reward for game 200000 was 1.
Reward for game 200001 was 0.
Reward for game 200002 was 0.
Reward for game 200003 was 0.
Reward for game 200004 was 0.
Reward for game 200005 was 0.
Reward for game 200006 was 0.
Reward for game 200007 was 0.
Reward for game 200008 was 0.
Reward for game 200009 was 0.
Reward for game 200010 was 0.
Reward for game 200011 was 0.
Reward for game 200012 was 0.
Reward for game 200013 was 0.
Reward for game 200014 was -1.
Reward for game 200015 was 0.
Reward for game 200016 was 0.
Reward for game 200017 was 0.
Reward for game 200018 was 0.
Reward for game 200019 was -1.
Reward for game 200020 was 0.
Reward for game 200021 was 0.
Reward for game 200022 was 0.
Reward for game 200023 was 0.
Reward for game 200024 was 0.
Reward for game 200025 was 0.
Reward for game 200026 was 0.
Reward for game 200027 was 0.
Reward for game 200028 was 0.
Reward for game 200029 was 0.
Reward for game 200030 was 0.
Reward for game 200031 was 0.
Reward for game 200032 was 0.
Reward for game 200033 was 0.
Reward for game 200034 was 1.
Reward for game 200035 was 0.
Reward for game 200036 was 0.
Reward for game 200037 was 0.
Reward for game 200038 was 0.
Reward for game 200039 was -1.
Reward for game 200040 was 0.
Reward for game 200041 was 0.
Reward for game 200042 was 1.
Reward for game 200043 was 0.
Reward for game 200044 was 0.
Reward for game 200045 was 0.
Reward for game 200046 was 0.
Reward for game 200047 was 0.
Reward for game 200048 was 0.
Reward for game 200049 was 0.
Reward for game 200050 was 0.
Reward for game 200051 was 0.
Reward for game 200052 was 1.
Reward for game 200053 was 0.
Reward for game 200054 was -1.
Reward for game 200055 was 0.
Reward for game 200056 was -1.
Reward for game 200057 was 0.
Reward for game 200058 was 0.
Reward for game 200059 was 0.
Reward for game 200060 was 0.
Reward for game 200061 was -1.
Reward for game 200062 was 0.
Reward for game 200063 was 0.
Reward for game 200064 was 0.
Reward for game 200065 was 0.
Reward for game 200066 was 0.
Reward for game 200067 was -1.
Reward for game 200068 was 1.
Reward for game 200069 was 0.
Reward for game 200070 was 0.
Reward for game 200071 was 1.
Reward for game 200072 was 0.
Reward for game 200073 was -1.
Reward for game 200074 was 0.
Reward for game 200075 was -1.
Reward for game 200076 was 0.
Reward for game 200077 was 0.
Reward for game 200078 was 0.
Reward for game 200079 was 0.
Reward for game 200080 was 0.
Reward for game 200081 was 0.
Reward for game 200082 was 0.
Reward for game 200083 was 0.
Reward for game 200084 was 0.
Reward for game 200085 was 0.
Reward for game 200086 was 0.
Reward for game 200087 was 0.
Reward for game 200088 was 1.
Reward for game 200089 was 0.
Reward for game 200090 was 0.
Reward for game 200091 was 0.
Reward for game 200092 was 0.
Reward for game 200093 was 0.
Reward for game 200094 was 0.
Reward for game 200095 was 0.
Reward for game 200096 was 0.
Reward for game 200097 was 0.
Reward for game 200098 was 0.
Reward for game 200099 was 1.
Reward for game 200100 was 0.
Reward for game 200101 was -1.
Reward for game 200102 was 0.
Reward for game 200103 was 0.
Reward for game 200104 was -1.
Reward for game 200105 was 0.
Reward for game 200106 was 0.
Reward for game 200107 was 0.
Reward for game 200108 was 0.
Reward for game 200109 was -1.
Reward for game 200110 was 0.
Reward for game 200111 was 0.
Reward for game 200112 was 0.
Reward for game 200113 was 0.
Reward for game 200114 was 0.
Reward for game 200115 was 0.
Reward for game 200116 was 0.
Reward for game 200117 was -1.
Reward for game 200118 was 0.
Reward for game 200119 was 0.
Reward for game 200120 was 0.
Reward for game 200121 was 0.
Reward for game 200122 was 0.
Reward for game 200123 was 0.
Reward for game 200124 was 0.
Reward for game 200125 was 0.
Reward for game 200126 was 0.
Reward for game 200127 was 0.
Reward for game 200128 was 0.
Reward for game 200129 was 0.
Reward for game 200130 was 0.
Reward for game 200131 was 0.
Reward for game 200132 was -1.
Reward for game 200133 was -1.
Reward for game 200134 was 0.
Reward for game 200135 was 0.
Reward for game 200136 was 0.
Reward for game 200137 was 0.
Reward for game 200138 was 0.
Reward for game 200139 was 0.
Reward for game 200140 was 0.
Reward for game 200141 was 1.
Reward for game 200142 was 0.
Reward for game 200143 was 0.
Reward for game 200144 was 0.
Reward for game 200145 was -1.
Reward for game 200146 was -1.
Reward for game 200147 was 0.
Reward for game 200148 was 0.
Reward for game 200149 was 0.
Reward for game 200150 was 0.
Reward for game 200151 was 0.
Reward for game 200152 was 0.
Reward for game 200153 was 0.
Reward for game 200154 was 0.
Reward for game 200155 was -1.
Reward for game 200156 was 0.
Reward for game 200157 was 0.
Reward for game 200158 was 0.
Reward for game 200159 was 0.
Reward for game 200160 was 1.
Reward for game 200161 was 0.
Reward for game 200162 was 0.
Reward for game 200163 was 0.
Reward for game 200164 was 0.
Reward for game 200165 was 0.
Reward for game 200166 was 0.
Reward for game 200167 was 0.
Reward for game 200168 was 0.
Reward for game 200169 was 0.
Reward for game 200170 was 1.
Reward for game 200171 was 0.
Reward for game 200172 was 0.
Reward for game 200173 was 0.
Reward for game 200174 was 0.
Reward for game 200175 was 0.
Reward for game 200176 was -1.
Reward for game 200177 was 0.
Reward for game 200178 was 0.
Reward for game 200179 was 0.
Reward for game 200180 was 0.
Reward for game 200181 was 0.
Reward for game 200182 was 0.
Reward for game 200183 was 0.
Reward for game 200184 was 0.
Reward for game 200185 was 0.
Reward for game 200186 was 0.
Reward for game 200187 was 0.
Reward for game 200188 was 0.
Reward for game 200189 was 0.
Reward for game 200190 was 1.
Reward for game 200191 was 0.
Reward for game 200192 was 0.
Reward for game 200193 was 0.
Reward for game 200194 was 1.
Reward for game 200195 was 0.
Reward for game 200196 was 0.
Reward for game 200197 was 0.
Reward for game 200198 was 0.
Reward for game 200199 was 0.
Processed 66006 rows in batch 1.
200 of 500 completed. Last batch duration was 83.6690924167633 with average game duration of 0.4183454620838165.
Reward for game 200200 was 1.
Reward for game 200201 was 0.
Reward for game 200202 was 0.
Reward for game 200203 was 0.
Reward for game 200204 was 0.
Reward for game 200205 was 0.
Reward for game 200206 was 0.
Reward for game 200207 was 0.
Reward for game 200208 was 1.
Reward for game 200209 was 0.
Reward for game 200210 was 0.
Reward for game 200211 was 0.
Reward for game 200212 was 0.
Reward for game 200213 was 0.
Reward for game 200214 was 0.
Reward for game 200215 was 0.
Reward for game 200216 was 0.
Reward for game 200217 was 0.
Reward for game 200218 was 1.
Reward for game 200219 was 0.
Reward for game 200220 was 0.
Reward for game 200221 was 0.
Reward for game 200222 was 0.
Reward for game 200223 was 0.
Reward for game 200224 was 0.
Reward for game 200225 was 0.
Reward for game 200226 was 0.
Reward for game 200227 was 0.
Reward for game 200228 was 0.
Reward for game 200229 was 0.
Reward for game 200230 was 1.
Reward for game 200231 was 0.
Reward for game 200232 was 0.
Reward for game 200233 was 0.
Reward for game 200234 was 0.
Reward for game 200235 was 0.
Reward for game 200236 was 0.
Reward for game 200237 was 0.
Reward for game 200238 was 0.
Reward for game 200239 was 0.
Reward for game 200240 was 0.
Reward for game 200241 was 0.
Reward for game 200242 was 0.
Reward for game 200243 was 0.
Reward for game 200244 was -1.
Reward for game 200245 was 0.
Reward for game 200246 was -1.
Reward for game 200247 was 0.
Reward for game 200248 was 0.
Reward for game 200249 was 0.
Reward for game 200250 was 1.
Reward for game 200251 was 0.
Reward for game 200252 was 0.
Reward for game 200253 was -1.
Reward for game 200254 was 0.
Reward for game 200255 was 0.
Reward for game 200256 was 0.
Reward for game 200257 was 0.
Reward for game 200258 was 0.
Reward for game 200259 was 0.
Reward for game 200260 was 0.
Reward for game 200261 was 0.
Reward for game 200262 was 0.
Reward for game 200263 was 0.
Reward for game 200264 was 0.
Reward for game 200265 was 1.
Reward for game 200266 was 0.
Reward for game 200267 was 0.
Reward for game 200268 was 0.
Reward for game 200269 was 0.
Reward for game 200270 was 0.
Reward for game 200271 was 0.
Reward for game 200272 was 0.
Reward for game 200273 was 0.
Reward for game 200274 was 0.
Reward for game 200275 was 0.
Reward for game 200276 was -1.
Reward for game 200277 was 0.
Reward for game 200278 was 0.
Reward for game 200279 was 0.
Reward for game 200280 was 0.
Reward for game 200281 was 0.
Reward for game 200282 was 0.
Reward for game 200283 was 0.
Reward for game 200284 was 0.
Reward for game 200285 was 0.
Reward for game 200286 was 0.
Reward for game 200287 was 0.
Reward for game 200288 was 0.
Reward for game 200289 was 0.
Reward for game 200290 was 0.
Reward for game 200291 was 0.
Reward for game 200292 was 0.
Reward for game 200293 was 0.
Reward for game 200294 was 1.
Reward for game 200295 was 0.
Reward for game 200296 was 0.
Reward for game 200297 was 0.
Reward for game 200298 was 0.
Reward for game 200299 was 0.
Reward for game 200300 was 0.
Reward for game 200301 was 0.
Reward for game 200302 was 0.
Reward for game 200303 was 0.
Reward for game 200304 was 0.
Reward for game 200305 was 0.
Reward for game 200306 was 0.
Reward for game 200307 was 0.
Reward for game 200308 was 0.
Reward for game 200309 was 0.
Reward for game 200310 was 0.
Reward for game 200311 was 0.
Reward for game 200312 was 0.
Reward for game 200313 was 0.
Reward for game 200314 was 0.
Reward for game 200315 was 0.
Reward for game 200316 was 0.
Reward for game 200317 was 0.
Reward for game 200318 was -1.
Reward for game 200319 was 0.
Reward for game 200320 was -1.
Reward for game 200321 was 0.
Reward for game 200322 was 0.
Reward for game 200323 was 0.
Reward for game 200324 was 0.
Reward for game 200325 was 0.
Reward for game 200326 was 0.
Reward for game 200327 was 0.
Reward for game 200328 was 0.
Reward for game 200329 was 0.
Reward for game 200330 was 0.
Reward for game 200331 was 0.
Reward for game 200332 was 0.
Reward for game 200333 was 0.
Reward for game 200334 was 0.
Reward for game 200335 was -1.
Reward for game 200336 was 1.
Reward for game 200337 was 1.
Reward for game 200338 was -1.
Reward for game 200339 was 0.
Reward for game 200340 was 0.
Reward for game 200341 was 0.
Reward for game 200342 was 0.
Reward for game 200343 was 0.
Reward for game 200344 was 0.
Reward for game 200345 was 0.
Reward for game 200346 was 0.
Reward for game 200347 was 0.
Reward for game 200348 was 1.
Reward for game 200349 was 0.
Reward for game 200350 was 0.
Reward for game 200351 was 0.
Reward for game 200352 was 0.
Reward for game 200353 was 0.
Reward for game 200354 was 1.
Reward for game 200355 was 0.
Reward for game 200356 was 0.
Reward for game 200357 was 0.
Reward for game 200358 was 0.
Reward for game 200359 was 0.
Reward for game 200360 was 0.
Reward for game 200361 was 0.
Reward for game 200362 was 0.
Reward for game 200363 was 0.
Reward for game 200364 was 0.
Reward for game 200365 was 0.
Reward for game 200366 was 0.
Reward for game 200367 was 0.
Reward for game 200368 was 1.
Reward for game 200369 was 0.
Reward for game 200370 was 0.
Reward for game 200371 was 0.
Reward for game 200372 was 0.
Reward for game 200373 was 0.
Reward for game 200374 was 0.
Reward for game 200375 was 0.
Reward for game 200376 was 0.
Reward for game 200377 was 0.
Reward for game 200378 was 0.
Reward for game 200379 was 0.
Reward for game 200380 was 0.
Reward for game 200381 was 0.
Reward for game 200382 was 0.
Reward for game 200383 was 0.
Reward for game 200384 was 0.
Reward for game 200385 was 0.
Reward for game 200386 was 0.
Reward for game 200387 was 1.
Reward for game 200388 was 0.
Reward for game 200389 was 0.
Reward for game 200390 was 0.
Reward for game 200391 was 0.
Reward for game 200392 was 0.
Reward for game 200393 was 0.
Reward for game 200394 was 0.
Reward for game 200395 was 0.
Reward for game 200396 was 0.
Reward for game 200397 was 0.
Reward for game 200398 was 0.
Reward for game 200399 was 0.
Processed 65608 rows in batch 1.
400 of 500 completed. Last batch duration was 70.49691152572632 with average game duration of 0.35248455762863157.
Reward for game 200400 was 0.
Reward for game 200401 was 0.
Reward for game 200402 was 0.
Reward for game 200403 was 0.
Reward for game 200404 was 0.
Reward for game 200405 was 0.
Reward for game 200406 was 0.
Reward for game 200407 was 0.
Reward for game 200408 was 0.
Reward for game 200409 was 0.
Reward for game 200410 was 0.
Reward for game 200411 was 0.
Reward for game 200412 was 0.
Reward for game 200413 was 0.
Reward for game 200414 was -1.
Reward for game 200415 was 0.
Reward for game 200416 was 0.
Reward for game 200417 was 0.
Reward for game 200418 was 0.
Reward for game 200419 was 0.
Reward for game 200420 was 0.
Reward for game 200421 was 1.
Reward for game 200422 was 0.
Reward for game 200423 was 0.
Reward for game 200424 was 0.
Reward for game 200425 was 0.
Reward for game 200426 was 0.
Reward for game 200427 was 0.
Reward for game 200428 was 0.
Reward for game 200429 was 0.
Reward for game 200430 was -1.
Reward for game 200431 was 0.
Reward for game 200432 was 0.
Reward for game 200433 was 0.
Reward for game 200434 was 0.
Reward for game 200435 was 0.
Reward for game 200436 was 0.
Reward for game 200437 was 0.
Reward for game 200438 was 0.
Reward for game 200439 was 1.
Reward for game 200440 was 0.
Reward for game 200441 was 0.
Reward for game 200442 was 0.
Reward for game 200443 was 0.
Reward for game 200444 was 0.
Reward for game 200445 was 0.
Reward for game 200446 was 0.
Reward for game 200447 was 1.
Reward for game 200448 was 0.
Reward for game 200449 was 0.
Reward for game 200450 was 0.
Reward for game 200451 was 0.
Reward for game 200452 was 0.
Reward for game 200453 was 0.
Reward for game 200454 was 0.
Reward for game 200455 was 0.
Reward for game 200456 was 0.
Reward for game 200457 was 0.
Reward for game 200458 was 0.
Reward for game 200459 was 0.
Reward for game 200460 was 0.
Reward for game 200461 was 0.
Reward for game 200462 was 0.
Reward for game 200463 was -1.
Reward for game 200464 was 0.
Reward for game 200465 was 0.
Reward for game 200466 was 0.
Reward for game 200467 was 0.
Reward for game 200468 was 0.
Reward for game 200469 was 0.
Reward for game 200470 was 0.
Reward for game 200471 was 0.
Reward for game 200472 was 0.
Reward for game 200473 was 0.
Reward for game 200474 was 0.
Reward for game 200475 was 0.
Reward for game 200476 was 0.
Reward for game 200477 was -1.
Reward for game 200478 was 0.
Reward for game 200479 was 0.
Reward for game 200480 was 0.
Reward for game 200481 was 0.
Reward for game 200482 was 0.
Reward for game 200483 was 0.
Reward for game 200484 was 0.
Reward for game 200485 was 0.
Reward for game 200486 was 0.
Reward for game 200487 was 0.
Reward for game 200488 was 0.
Reward for game 200489 was 0.
Reward for game 200490 was 0.
Reward for game 200491 was 0.
Reward for game 200492 was 0.
Reward for game 200493 was 0.
Reward for game 200494 was 0.
Reward for game 200495 was 0.
Reward for game 200496 was 0.
Reward for game 200497 was 0.
Reward for game 200498 was 0.
Reward for game 200499 was 0.
Processed 33574 rows in batch 1.
500 of 500 completed. Last batch duration was 58.73936700820923 with average game duration of 0.29369683504104616.

Once the replay_buffers have been written to the Teradata database, it kicks off a Stored Procedure to update the rewards per half-move using a Discount Factor, and then build a table with aggregate rewards per board position.

In [6]:
execute_sql("CALL UpdateProcessBatch()")

TeradataCursor uRowsHandle=100 bClosed=False

Closes and release the connection to the database.

In [7]:
conn.close
remove_context()

True